<?= $this->partial('premier-league/partial/show-fixture.phtml'); ?>

<!-- Page Content -->
<div id="page-content-wrapper">
    <div>
        <h1><span class="zf-green">Welcome</span> to Premier League Simulation!</h1>
        <br>
        <h3 id="press-button-info">Pres Play button to start playing Premier League</h3>
        <br>
        <button class="btn btn-lg btn-warning" id="start-league-button" onclick="playWeek(1);">
            <span class="glyphicon glyphicon-arrow-right"></span> PLAY
        </button>
    </div>

    <div id="play-table-display-area" style="padding: 40px 0px 0px 0px;">

    </div>
    <br>
    <br>
    <button class="btn btn-lg btn-warning" id="replay-button" onclick="replayLeague();" style="display: none;">
        <span class="glyphicon glyphicon-repeat"></span> REPLAY
    </button>
    <br>
    <br>
    <br>
</div>