<?php
    $weekNumber = $this->weekNumber;
    $rounds     = $this->rounds;
    $results    = $this->results;
?>

<div class="table-responsive" id="week-played-<?= $this->weekNumber ?>">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <th width="50%" align="center" scope="col">
            <table border="0" cellpadding="0" cellspacing="0" class="leagueTable">
                <tr>
                    <th align="center" valign="top">League Table</th>
                    <th align="center" valign="top">Match Results</th>
                </tr>
                <tr>
                    <td align="left" valign="top" class="noPaddingTop">
                        <table border="0" cellpadding="0" cellspacing="0" class="teamTable">
                            <tr>
                                <th align="left" valign="top">Teams</th>
                                <th align="center" valign="top">PTS</th>
                                <th align="center" valign="top">P</th>
                                <th align="center" valign="top">W</th>
                                <th align="center" valign="top">D</th>
                                <th align="center" valign="top">L</th>
                                <th align="center" valign="top">GD</th>
                            </tr>
                            <?php foreach($results['table'] as $result):?>
                            <tr>
                                <td align="left" valign="top"><?= $result['name'] ?></td>
                                <td align="left" valign="top"><?= $result['pts'] ?></td>
                                <td align="left" valign="top"><?= $result['p'] ?></td>
                                <td align="left" valign="top"><?= $result['w'] ?></td>
                                <td align="left" valign="top"><?= $result['d'] ?></td>
                                <td align="left" valign="top"><?= $result['l'] ?></td>
                                <td align="left" valign="top"><?= $result['gd'] ?></td>

                            </tr>
                            <?php endforeach; ?>
                        </table>
                    </td>
                    <td align="left" valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="weekResults">
                            <tr>
                                <th colspan="3" align="center" valign="top" scope="col"><?= $weekNumber?>
                                        <?php if ($weekNumber == "1"): ?>
                                            <span>st </span>
                                        <?php elseif ($weekNumber == "2"): ?>
                                            <span>nd </span>
                                        <?php elseif ($weekNumber == "3"): ?>
                                            <span>rd </span>
                                        <?php else: ?>
                                            <span>th </span>
                                        <?php endif; ?>
                                    Week Match Reults
                                </th>
                            </tr>
                            <?php foreach ($results['scores'] as $score): ?>
                                <tr>
                                    <td align="left" valign="top"><?= $score['home'] ?></td>
                                    <td align="center" valign="top" class="score"><?= $score['homeScore'] ?> - <?= $score['awayScore'] ?></td>
                                    <td align="right" valign="top"><?= $score['away'] ?></td>
                                </tr>
                            <?php endforeach; ?>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" class="buttons">
                            <tr>
                                <td align="left" valign="top">
                                    <a href="javascript:;" class="playAll" onclick="playAll();">Play All</a>
                                </td>
                                <td align="right" valign="top">
                                    <a href="javascript:;" class="nextWeek" id="next-week-<?= $this->weekNumber?>" onclick="playWeek(<?= ($this->weekNumber+1) ?>,false);disableClick($(this),<?= $this->weekNumber ?>)">Next Week</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </th>
        <th width="50%" align="center" scope="col">
            <table width="225" border="0" cellspacing="0" cellpadding="0" class="predictions" style="  border: 1px solid #DDD;height: 175px;">
                <tr>
                    <td colspan="2" align="center" valign="top" scope="col"><?= $weekNumber ?>
                        <?php if ($weekNumber == "1"): ?>
                            <span>st </span>
                        <?php elseif ($weekNumber == "2"): ?>
                            <span>nd </span>
                        <?php elseif ($weekNumber == "3"): ?>
                            <span>rd </span>
                        <?php else: ?>
                            <span>th </span>
                        <?php endif; ?>
                        Week Predictions of Championship
                    </td>
                </tr>

                    <?php foreach($results['estimations'] as $estimate):?>
                    <tr>
                        <td align="left" valign="top"><?= $estimate['name']?></td>
                        <td align="right" valign="top">%<?= $estimate['es']?></td>
                    </tr>
                    <?php endforeach; ?>

            </table>
        </th>
    </tr>
</table>
</div>