body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

#sidebar-wrapper {
    width: 300px;
    float: left;
    margin-left: -50px;
}

#sidebar-wrapper table > tbody > tr > td {
    border: solid 1px #e5e5e5;
    background: #FAFAFA;
}

#page-content-wrapper {
    max-width: 1000px;
    margin-left: 305px;
}

.table-responsive {
    padding: 12px;
    background: #B5B5B5;
    width: 726px;
}