<!-- Sidebar -->
<div id="sidebar-wrapper">
    <table cellpadding="0" cellspacing="0" align="center">
        <tbody>
        <tr>
            <td align="center" colspan="3" class="print_standard">
                <span class="print_titletext">Premier League Fixture</span><br>
                <br>
                <?php $week = 1; foreach ($this->rounds as $round): ?>
                    <span class="print_titletext2">Week <?=$week;?></span>
                    <table border="0" cellspacing="4" cellpadding="0">
                    <tbody>
                    <tr>
                        <td align="right" class="print_standard"><?= $round[0][0] ?></td>
                        <td align="center" class="print_standard">&nbsp;<b>VS</b>&nbsp;</td>
                        <td align="left" class="print_standard"><?= $round[0][1] ?></td>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="print_standard"><?= $round[1][0] ?></td>
                        <td align="center" class="print_standard">&nbsp;<b>VS</b>&nbsp;</td>
                        <td align="left" class="print_standard"><?= $round[1][1] ?></td>

                        </td>
                    </tr>
                    </tbody>
                </table>
                    <br>
                <?php $week++; endforeach; ?>
            </td>
        </tr>
    </table>
</div>
<!-- /#sidebar-wrapper -->
